@import "tailwindcss";

.gradient-outline {
    position: relative;
    background: white; /* Background to ensure the content is visible */
    z-index: 1;
  }

  .gradient-outline::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: linear-gradient(to right,#dfe9f3, #ffffff);
    z-index: -1;
    border-radius: 0.375rem; /* Match the rounded-md (6px) */
  }